#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.centered-select .ant-select-selection-item {
  text-align: center;
  width: 100%;
}

.centered-input .ant-input-number-input {
  text-align: center;
}

.centered-select .ant-select-selection-item {
  text-align: center;
  width: 100%;
}

.centered-select .ant-select-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Centre aussi les options dans le dropdown */
.ant-select-item-option-content {
  text-align: center;
}


.custom-table .ant-table {
  border: 1px solid #d9d9d9;
}

.custom-table .ant-table-thead > tr > th {
  border-right: 1px solid #d9d9d9;
  background: #fafafa;
}

.custom-table .ant-table-tbody > tr > td {
  border-right: 1px solid #f0f0f0;
}

.custom-table .ant-table-tbody > tr:hover > td {
  background: #f5f5f5;
}

